include templates/_vars.pug
include mixins/mixins.pug

- let pageTitle = 'Liarch - Architecture & Interior HTML Template - News';
- let isHome = true; //- Если true то логотип не будет ссылкой
- let currentPage = 5.16; // Для каждой страницы уникален. Номер смотреть в файле pug/templates/_vars.pug в массивах с пунктами меню
- let currentSection = 5; // // Для каждой раздела уникален. Home -1, about - 2, works - 3, news - 4, pages - 5

doctype html
html.no-js(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1")
		//- +fonts(FONTS)
		// CSS
		link(rel="stylesheet", href="css/fonts.css")
		link(rel="stylesheet", href="css/main.css")
		title= pageTitle

	body
		div(style="display: none")
			include ../../build/img/sprite.svg

		article.coming-soon
			.container.coming-soon__container
				.coming-soon__wrapper
					+logo(isHome, 'coming-soon__logo')
					.coming-soon__content
						.coming-soon__title Coming Soon...
						.coming-soon__subtitle Condimentum ipsum a adipiscing hac dolor set consectetur urna commodo elit
							|  parturient a molestie ut nisl partu convallier ullamcorpe.
						.coming-soon__timer-title Our website will be launched in:
						include modules/timer
						// Social
						ul.social.coming-soon__social
							li.social__item
								a.social__link(href="#", target="_blank")
									+icon('facebook')(width="18", height="18")
									span.visually-hidden Facebook
							li.social__item
								a.social__link(href="#", target="_blank")
									+icon('twitter')(width="18", height="18")
									span.visually-hidden Twitter
							li.social__item
								a.social__link(href="#", target="_blank")
									+icon('google-plus')(width="18", height="18")
									span.visually-hidden Instagram
							li.social__item
								a.social__link(href="#", target="_blank")
									+icon('linkedin-original')(width="18", height="18")
									span.visually-hidden Pinterest


		// Optional JavaScript
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")

		// JavaScript
		script(src="js/timer.js")
