extends templates/main
block variables
	- let pageTitle = TITLE_PART + ' | Home default';
	- let isHome = true; //- Если true то логотип не будет ссылкой
	- let isDark = false;
	- let currentPage = 1.01; // Для каждой страницы уникален. Номер смотреть в файле pug/templates/_vars.pug в массивах с пунктами меню
	- let currentSection = 1; // // Для каждой раздела уникален. Home -1, projects - 2, news - 3, pages - 4

block header
	include modules/header
	//-include modules/menu

block content
	//- rev slider
	section.about-section
		.about-section__inner.container
			.row.no-gutters
				.about-section__content.col-12.col-md-7
					h2.about-section__heading About us
					.about-section__pseudoheading.heading Strategy-led <span class="color-yellow">design</span> in every detail
					.about-section__text Founded in 2007, Sparch is specializing in providing innovative services such as website design, brand identity and marketing
					a.about-section__btn.btn(href= URLS.pages.about) Learn more

				.col-12.col-md-5
					//-.order-first.order-md-0
					.about-section__image
						img(src="img/picture/about-section-image.jpg", srcset="img/picture/about-section-image@2x.jpg", width="426", height="573", alt="House")
					.about-section__cite-wrapper
						blockquote.about-section__blockquote “If you will be coping someone, you will never be the best”
						cite.about-section__cite Paul. <br>Designer

block footer
	include modules/footer
