.article {
	overflow: hidden;
	padding: 40px 0 60px;

	@include media(md) {
		padding: 60px 0 80px;
	}

	@include media(lg) {
		padding: 100px 0 120px;
	}

	@include media(xl) {
		padding: 150px 0 200px;
	}

	&--pb-0 {
		padding-bottom: 0;
	}

	&__header {
		margin-bottom: 50px;

		&-text {
			max-width: 700px;
			margin-top: 24px;

			@include media(xl) {
				margin-top: 70px;
			}
		}
	}

	&__projects-carousel {
		@include media(xl) {
			margin-top: 100px;
		}
	}

	&__projects-slider {
		margin: 20px 0 40px;

		@include media(sm) {
			margin: 40px 0 80px;
		}

		@include media(md) {
			margin: 60px 0 120px;
		}

		@include media(lg) {
			margin: 80px 0 160px;
		}

		@include media(xl) {
			margin: 100px 0 200px;
		}
	}

	&__project-meta {
		margin-bottom: 60px;

		@include media(sm) {
			margin-bottom: 80px;
		}

		@include media(md) {
			margin-bottom: 120px;
		}

		@include media(lg) {
			margin-bottom: 160px;
		}

		@include media(xl) {
			margin-bottom: 214px;
		}
	}

	&__project-designer {
		margin-bottom: 60px;

		@include media(sm) {
			margin-bottom: 80px;
		}

		@include media(md) {
			margin-bottom: 120px;
		}

		@include media(lg) {
			margin-bottom: 150px;
		}

		@include media(xl) {
			margin-bottom: 190px;
		}
	}

	&__heading {
		margin: 0;
	}

	&__filter {
		margin-top: 24px;

		@include media(xl) {
			margin-top: 96px;
		}
	}

	&__main {
		&--width-full {
			@include media(xl) {
				max-width: $width--full;
			}
		}
	}
}
