.projects-grid {
	&__inner {
		@include media(xl) {
			max-width: $width--full;
		}
	}

	&__list {
		list-style: none;
		margin-top: -30px;
		margin-bottom: 0;
		padding: 0;
	}

	&__item {
		margin-top: 30px;
	}

	&__bg {
		position: fixed;
		left: 0;
		top: 0;
		z-index: -1;
		width: 100%;
		height: 100%;

		&-item {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			opacity: 0;

			transform: scale(1);
			transition: all 5s, opacity 0.35s;
			background-repeat: no-repeat;
			background-size: cover;

			&.active {
				opacity: 1;
				transform: scale(1.03);
			}
		}
	}
}
