.slider-parallax {
	$self: &;

	position: relative;
	display: flex;
	height: 100vh;
	min-height: 540px;

	.swiper-slide {
		display: flex;
	}

	&__slide {
		position: relative;
		display: flex;
		width: 100%;
		box-sizing: border-box;

		@include media(md) {
			flex-direction: row;
		}

		&-image {
			width: 100%;

			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&-wrap {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateY(-50%) translateX(-50%);
			display: flex;
			flex-direction: column;
			width: 100%;
			padding: 120px 15px 80px;

			@include media(sm) {
				max-width: 540px;
			}

			@include media(md) {
				flex-direction: row;
				max-width: 720px;
				padding-top: 140px;
				padding-bottom: 140px;
			}

			@include media(lg) {
				max-width: 960px;
			}

			@include media(xl) {
				width: 80%;
				max-width: 1140px;
				padding-bottom: 164px;
			}
		}
	}

	&__left {
		margin-top: 20px;
		order: 1;

		@include media(md) {
			margin-top: 0;
			order: 0;
		}
	}

	&__right {
		font-size: 16px;
		line-height: 1;
		text-transform: uppercase;

		@include media(md) {
			flex-grow: 1;
			text-align: right;
			font-size: 20px;
		}

		@include media(lg) {
			padding-top: 14px;
			padding-right: 10px;
			font-size: 25px;
		}
	}

	&__subtitle {
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 0;
		text-transform: uppercase;

		@include media(md) {
			font-size: 23px;
		}

		@include media(lg) {
			font-size: 25px;

			@include media-custom-height(768px) {
				margin-bottom: 36px;
			}
		}
	}

	&__title {
		font-family: $font-family--secondary;
		font-size: 40px;
		line-height: 45px;
		font-weight: bold;
		margin-bottom: 25px;

		@include media(sm) {
			font-size: 55px;
			line-height: 60px;
		}

		@include media(md) {
			font-size: 75px;
			line-height: 80px;
		}

		@include media(lg) {
			font-size: 90px;
			line-height: 105px;
			margin-bottom: 38px;

			@include media-custom-height(900px) {
				margin-bottom: 42px;
			}
		}

		br {
			display: none;

			@include media-custom-height(768px) {
				display: block;
			}
		}

		span {
			font-size: 32px;
			font-weight: 400;
		}
	}

	&__text {
		max-width: 320px;
		font-size: 14px;
		line-height: 22px;
		color: $color-grey-cc;
		margin-bottom: 30px;

		@include media(sm) {
			font-size: 16px;
			line-height: 26px;
		}

		@include media(lg) {
			@include media-custom-height(900px) {
				margin-bottom: 45px;
			}
		}
	}

	&__tag {
		font-weight: bold;
	}

	&__date {
		margin-bottom: 8px;

		@include media(lg) {
			margin-bottom: 14px;
		}
	}

	&__nav {
		position: absolute;
		bottom: 110px;
		right: 15px;
		width: 100%;
		z-index: 1;

		@include media(sm) {
			max-width: 540px;
			left: 50%;
			right: auto;
			transform: translateX(-50%);
		}

		@include media(md) {
			max-width: 720px;
			bottom: 140px;
		}

		@include media(lg) {
			max-width: 960px;
		}

		@include media(xl) {
			width: 95%;
			max-width: 1450px;
			bottom: 51%;
		}

		&-btn {
			width: 50px;
			height: 50px;
			background-color: transparent;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: 1;
			border: none;
			cursor: pointer;

			@include media(xxl) {
				width: 64px;
				height: 64px;
			}

			&:focus {
				outline: none;
			}

			@include hover {
				svg {
					fill: $color-yellow;
				}
			}

			svg {
				width: 100%;
				height: 100%;
				fill: $color-default-white;

				@include transition(fill);
			}

			&--prev {
				right: 0;
				transform: translateX(-150%) translateY(-50%);

				@include media(sm) {
					transform: translateX(-200%) translateY(-50%);
				}

				@include media(xl) {
					left: 0;
					transform: translateX(0) translateY(-50%);
				}
			}

			&--next {
				right: 0;
			}
		}
	}
}
