// Optional JavaScript
script(src="js/jquery-3.5.1.min.js")
script(src="js/jquery.fancybox.min.js")
script(src="js/jquery.pagepiling.js")
script(src="js/aos.js")
script(src="js/jquery.easy_number_animate.js")
script(src="js/isotope.pkgd.min.js")
script(src="js/packery-mode.pkgd.min.js")
script(src="js/swiper-bundle.min.js")
script(src="js/animsition.min.js")

if isRevolution
	// revolution
	script(type='text/javascript' src='js/revolution/jquery.themepunch.tools.min.js')
	script(type='text/javascript' src='js/revolution/jquery.themepunch.revolution.min.js')
	script(type='text/javascript' src='js/revolution/revolution.extension.actions.min.js')
	script(type='text/javascript' src='js/revolution/revolution.extension.carousel.min.js')
	script(type='text/javascript' src='js/revolution/revolution.extension.kenburn.min.js')
	script(type='text/javascript' src='js/revolution/revolution.extension.layeranimation.min.js')
	script(type='text/javascript' src='js/revolution/revolution.extension.migration.min.js')
	script(type='text/javascript' src='js/revolution/revolution.extension.navigation.min.js')
	script(type='text/javascript' src='js/revolution/revolution.extension.parallax.min.js')
	script(type='text/javascript' src='js/revolution/revolution.extension.slideanims.min.js')
	script(type='text/javascript' src='js/revolution/revolution.extension.video.min.js')
	script(type='text/javascript' src='js/revolution/init.js')

// JavaScript
script(src="js/main.js")
