// Optional JavaScript
script(src="js/jquery.min.js")
script(src="js/jquery.fancybox.min.js")
script(src="js/jquery.pagepiling.js")
script(src="js/aos.js")
script(src="js/jquery.easy_number_animate.js")
script(src="js/isotope.pkgd.min.js")
script(src="js/packery-mode.pkgd.min.js")
script(src="js/swiper-bundle.min.js")
script(src="js/animsition.min.js")

// JavaScript
script(src="js/main.js")
