.footer {
	$self: &;

	&--bg {
		background-color: $color-dark !important;

		@include media(xl) {
			background-color: transparent !important;
		}
	}

	&__copyright {
		color: $color-default-white;

		span {
			color: $color-default-white;
		}
	}

	&__column {
		&-link {
			color: $color-default-white;
		}
	}
}
