.hero {
	&__content {
		@include media(xl) {
			background-image: linear-gradient(
				to right,
				$color-dark 54.375%,
				transparent 54.375%
			);
		}

		@include media(xxl) {
			background-image: linear-gradient(
				to right,
				$color-dark 44.375%,
				transparent 44.375%
			);
		}
	}

	&__tag {
		color: $color-default-white;
	}
}
